

.Header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index:100;
    width: 100%;
}
.Header img {
    height: 100px;
    margin-left: 20px;
} 

.Header__center {
    display: flex;
    align-items: center;
    max-width: fit-content;
    padding:10px;
    border: 1px solid lightgray ;
    border-radius: 999px;
}
.Header__center input {
    border:none;
    outline: 0;
}

.Header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
   margin-right: 80px;

}